.menuOverlay 
    .menuOverlay-menuBG
    .menuOverlay-content
        .menuOverlay-close.pt-lg.pb-sm.text-center 
            p: +SvgIcon('close')

        ul
            li: a.fs-xs.text-gray-600(href="/") HOME
            li: a.fs-xs.text-gray-600(href="#") ABOUT
            li: a.fs-xs.text-gray-600(href="#") BLOG
            li: a.fs-xs.text-gray-600(href="#") PORTFOLIO
            li: a.fs-xs.text-gray-600(href="#") CONTACT  