ul.socials
  li: a(href="#" target="_blank" title="twitter"): +SvgIcon("twitter-b")
  li: a(href="#" target="_blank" title="facebook"): +SvgIcon("facebook")
  li: a(href="#" target="_blank" title="pinterest"): +SvgIcon("pinterest")
  li: a(href="#" target="_blank" title="google-plus"): +SvgIcon("google-plus")